[submodule "vendor/YCSB-C"]
	path = vendor/YCSB-C
	url = git@github.com:utaal/YCSB-C.git
[submodule "vendor/hdrhist"]
	path = vendor/hdrhist
	url = git@github.com:utaal/hdrhist-cpp.git
[submodule "vendor/rocksdb"]
	path = vendor/rocksdb
	url = git@github.com:facebook/rocksdb.git
